Packer/**/packer_cache
Packer/**/output-virtualbox-iso/
Vagrant/.vagrant
Packer/ubuntu/*.txt
Packer/ubuntu/Vagrantfile
build/.vagrant/*
build/*.ps1
build/*.json
build/Vagrantfile
build/packer_cache
build/output-virtualbox-iso/
build/*.sh
.idea/*
python/.idea/*
python/__pycache__/*
node_modules/*
box_configs/*
package-lock.json
package.json
box_configs/*

